body{
    background-color: rgb(241, 198, 241);
}

#border {
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: center;
    text-align: center;
    border-style: groove;
    border-color: palegreen;
    border-radius: 5%;
    margin: 40px 350px 25px 350px;
    background-color:paleturquoise;
}

.questions{
    position: absolute;
    width: 350px;
    height: 350px;
    margin: 30px;
}

.box{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 8;
    background: rgb(184, 247, 184);
    border-radius: 10%;
    text-align: center;
}

.boxtwo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    margin: 25px;
    background: rgb(227, 137, 254);
    border-radius: 10%;
    text-align: center;
}

.overlay {
    z-index: 9;
    margin: 45px;
    background: rgb(245, 221, 195);
}
.real, .fake{
    text-align:start;
    margin: 0 25px 5px 25px;
    padding: 0px;
    background-color:rgb(186, 246, 246);
    border-radius: 12px;
}
.startbtn
.resetbtn{
    margin-left: 800px;
    margin-top: 650px;
}